:root {
	--footer-height: 100px;
	--bottom-width: 1440px;
}

body,
html {
	padding: 0;
	margin: 0;
	overflow-y: hidden;
	font-family: 'Helvetica Now';
}

#main {
	width: 1920px;
	height: 1080px;
	position: relative;
	/* background-color: #f8f8f8; */
}

#bg-video {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -10;
}

#full-overlay {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 1920px;
	height: 1080px;
	/* background-color: #f8f8f8; */
}

#header {
	width: 1920px;
	height: 160px;
	opacity: 100%;
	transition: ease-in-out 500ms;
	z-index: 1;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 40px;
	letter-spacing: 0px;
	color: black;
	position: relative;
}

#header-container {
	height: 100%;
	width: fit-content;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	gap: 16px;
	color: var(--light);
}

#title-stage-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#logotext {
	font-size: 48px;
	font-weight: 700;
}

#stage-name {
	font-size: 28px;
	font-weight: 500;
	letter-spacing: 3px;
	margin-top: -8px;
	margin-left: 2px;
}

#logo-container {
	height: 90px;
	width: 90px;
}

#logo {
	height: 100%;
	width: 100%;
	outline: 4px solid var(--light);
	border-radius: 12px;
}

#red-name {
	position: absolute;
	left: 150px;
	top: 33px;
	transition: ease-in-out 500ms;
	text-align: left;
	color: #1d1d1d;
	letter-spacing: -2px;
}

#blue-name {
	position: absolute;
	right: 150px;
	top: 33px;
	text-align: right;
	color: #1d1d1d;
	letter-spacing: -2px;
}

#red-bar {
	position: absolute;
	left: 130px;
	top: 42px;
	width: 10px;
	height: 76px;
	background-color: var(--red);
}

#blue-bar {
	position: absolute;
	right: 130px;
	top: 42px;
	width: 10px;
	height: 76px;
	background-color: var(--blue);
}

#red-points {
	position: absolute;
	left: 147px;
	top: 77px;
	display: flex;
	flex-direction: row;
	width: fit-content;
	padding: 4px;
	transition: 300ms ease-out;
}

#blue-points {
	position: absolute;
	right: 147px;
	top: 77px;
	display: flex;
	flex-direction: row-reverse;
	width: fit-content;
	padding: 4px;
	transition: 300ms ease-out;
}

.star-r {
	z-index: 100;
	width: 24px;
	height: 24px;
	background-color: var(--light);
	margin-right: 6px;
	transition: 200ms ease;
	border: 6px solid #1d1d1d;
}

.star-b {
	z-index: 100;
	width: 24px;
	height: 24px;
	background-color: var(--light);
	margin-left: 6px;
	transition: 200ms ease;
	border: 6px solid #1d1d1d;
}

#red-flag {
	position: absolute;
	width: 70px;
	height: 47px;
	left: 31px;
	top: 57px;
	filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.1));
	visibility: visible;
}

#blue-flag {
	position: absolute;
	width: 70px;
	height: 47px;
	right: 31px;
	top: 57px;
	filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.1));
	visibility: visible;
}

#gameplay-area {
	width: 100%;
	height: 720px;
	/* background-color: #111111; */
}


/* footer */

#footer {
	width: 100%;
	height: 200px;
	display: flex;
	flex-wrap: wrap;
	color: var(--light);
	font-weight: 400;
}

#top-footer {
	position: relative;
	width: 100%;
	height: calc(200px - var(--footer-height));
	display: flex;
	justify-content: center;
	font-size: 52px;
	text-align: center;
	font-family: 'Mont';
	font-variant-numeric: tabular-nums;
	font-size: 44px;
	opacity: 1;
}

#score-red {
	width: 300px;
	height: 100%;
	padding-right: 12px;
	display: flex;
	align-items: center;
	font-size: 1em;
	color: var(--light);
	text-align: right;
	justify-content: flex-end;
}

#score-blue {
	width: 300px;
	height: 100%;
	padding-left: 12px;
	display: flex;
	align-items: center;
	font-size: 1em;
	color: var(--light);
	text-align: left;
	justify-content: flex-start;
}

#lead-bar {
	position: absolute;
	top: 0;
	right: 960px;
	left: unset;
	height: 20px;
	width: 0px;
	background-color: var(--light);
	transition: ease-out 300ms;
}

#scorediff {
	position: absolute;
	bottom: 2px;
	font-size: 23px;
	font-weight: 700;
	opacity: 0.8;
}

#bottom-footer {
	height: var(--footer-height);
	width: 100%;
	display: flex;
	font-family: 'Din';
}

#mapimage-container {
	width: 500px;
	height: var(--footer-height);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-origin: border-box;
	box-sizing: border-box;
	border: 0 solid rgba(0, 0, 0, 0);
	transition: 250ms;
}

#picked-by-label {
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	position: absolute;
	text-align: center;
	bottom: 44px;
	left: -12px;
	color: #222222;
	font-weight: 500;
	font-size: 17px;
	transition: 200ms;
	line-height: 22px;
	letter-spacing: 1px;
	font-family: 'Helvetica Now';
}

#picked-by-flag {
	transform: rotate(270deg);
	position: absolute;
	bottom: 14px;
	left: 2px;
	width: calc(70px / 2.5);
	filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.1));
}

#stats-container {
	width: var(--bottom-width);
	flex: 1;
	display: flex;
	flex-direction: column;
	text-shadow: 0 0 8px rgba(10, 10, 10, 0.2);
}

#title-container {
	z-index: 2;
	width: var(--bottom-width);
	height: 68px;
	margin-top: 11px;
	font-size: 26px;
	display: flex;
	flex-direction: column;
}

#title {
	font-weight: 700;
	margin-left: 18px;
	width: calc(var(--bottom-width) - 32px);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#map-diff {
	font-weight: 400;
	font-size: 18px;
	margin-left: 18px;
	width: calc(var(--bottom-width) - 32px);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#props-container {
	z-index: 2;
	width: var(--bottom-width);
	height: 30px;
	margin-top: -18px;
	font-size: 20px;
	font-weight: 500;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

.props-group {
	margin-left: 18px;
}

.props-item {
	margin-right: 16px;
}

.highlight {
	font-size: 22px;
	color: var(--accent-faded);
	font-weight: 700;
}

.highlight i {
	font-size: 14px;
	vertical-align: super;
	color: var(--accent-faded);
	font-style: normal;
}

.highlight svg {
	margin: 0 4px;
}

.highlight i polygon {
	fill: var(--accent-faded);
}

#strain-container {
	position: absolute;
	height: var(--footer-height);
	width: var(--bottom-width);
	overflow: hidden;
}

#strain-background {
	position: absolute;
	height: var(--footer-height);
	width: var(--bottom-width);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	filter: blur(17px) grayscale(80%);
	transform: scale(1.3);
}

#strain-dim {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	height: var(--footer-height);
	width: var(--bottom-width);
}

#strains {
	position: absolute;
	left: 0;
	bottom: 0;
}

#strainsProgress {
	position: absolute;
	left: 0;
	bottom: 0;
}

#progress {
	position: absolute;
	width: calc(2 * var(--bottom-width));
	height: var(--footer-height);
	padding: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
	transition: 110ms linear;
	-webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 49.95%, transparent 50%);
	mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 49.95%, transparent 50%);
}

#chat-container {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 684px;
	height: 184px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 8px;
	font-size: 17px;
	transition: ease-in-out 500ms;
	z-index: 2;
	color: #f5f5f5;
	background-color: #111111;
	border-left: 4px solid var(--accent-bg);
	overflow: hidden;
}

#chat {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.chat {
	display: flex;
	text-align: left;
	line-height: 23.3px;
	font-size: 19px;
}

.chatTime {
	width: 56px;
	min-width: 56px;
	color: rgb(80, 80, 80);
	margin-right: 6px;
	text-align: center;
}

.wholeChat {
	width: 95%;
	display: flex;
}

.chatName {
	color: white;
	white-space: nowrap;
	width: max-content;
}

.chatText {
	white-space: normal;
	word-wrap: break-word;
	overflow: hidden;
}

.unknown {
	color: #c0c0c0;
}

.bot {
	color: #a6db88;
	font-weight: bold;
}

.bot+.chatText {
	color: #dbf1cf;
}

.right {
	color: var(--blue);
}

.left {
	color: var(--red);
}

/*Scrollbar*/
::-webkit-scrollbar {
	width: 0px;
	visibility: 0;
}

/* Track */
::-webkit-scrollbar-track {
	margin-top: 25px;
	margin-bottom: 25px;
	visibility: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: grey;
	border-radius: 10px;
}

.text {
	display: flex;
	justify-content: center;
}
