@font-face {
	font-family: 'Helvetica Now';
	src: url('../fonts/HelveticaNowText-Medium.otf');
	font-weight: 400;
}

@font-face {
	font-family: 'Helvetica Now';
	src: url('../fonts/HelveticaNowText-Bold.otf');
	font-weight: 500;
}

@font-face {
	font-family: 'Helvetica Now';
	src: url('../fonts/HelveticaNowText-Black.otf');
	font-weight: 700;
}

:root {
	--footer-height: 140px;
}

body,
html {
	padding: 0;
	margin: 0;
	overflow-y: hidden;
}

#main {
	width: 1920px;
	height: 1080px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* background-color: #111111; */
}



/* --- HEADER --- */

#header {
	width: 100%;
	height: 118px;
	display: flex;
	justify-content: space-between;
	color: #ffffff;
	font-family: 'Helvetica Now';
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 1.3px;
	text-transform: uppercase;
}

#nowplaying-container {
	height: 100%;
	width: 700px;
	opacity: 1;
	transition: opacity 300ms ease;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

#nowplaying {
	color: #a6db88;
	font-weight: 700;
}

#replay-container {
	height: 100%;
	width: 700px;
	opacity: 1;
	transition: opacity 300ms ease;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

#replay {
	color: #a6db88;
	font-weight: 700;
}



/* --- FOOTER --- */

#footer {
	position: relative;
	width: 100%;
	height: var(--footer-height);
	display: flex;
	color: #ffffff;
	font-family: 'Helvetica Now';
	font-weight: 400;
}

#mapimage-container {
	width: 500px;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#stats-container {
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
}

#title-container {
	z-index: 2;
	width: 100%;
	height: 68px;
	margin-top: 18px;
	font-size: 28px;
	display: flex;
	flex-direction: column;
}

#title {
	/* text-transform: uppercase; */
	letter-spacing: 1px;
	font-weight: 700;
	margin-left: 18px;
}

#map-diff {
	font-weight: 400;
	font-size: 0.8em;
	margin-left: 18px;
}

#props-container {
	z-index: 2;
	width: 100%;
	height: 36px;
	margin-top: 10px;
	font-size: 18px;
	font-weight: 500;
	display: flex;
}

.props-group {
	margin-left: 18px;
	margin-right: 4px;
}

.props-item {
	margin-right: 16px;
}

.highlight {
	font-size: 24px;
	margin-left: 2px;
	color: #a6db88;
	font-weight: 700;
}

#strain-container {
	position: absolute;
	height: var(--footer-height);
	width: 1420px;
	overflow: hidden;
	transition: 300ms ease-in;
}

#strain-background {
	position: absolute;
	height: var(--footer-height);
	width: 1420px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	filter: blur(17px) grayscale(80%);
	transform: scale(1.3);
}

#strain-dim {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	height: var(--footer-height);
	width: 1420px;
}

#strains {
	position: absolute;
	left: 0;
	bottom: 0;
}

#strainsProgress {
	position: absolute;
	left: 0;
	bottom: 0;
}

#progress {
	position: absolute;
	width: calc(2 * 1420px);
	height: var(--footer-height);
	transition: linear 110ms;
	padding: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
	-webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 49.95%, transparent 50%);
	mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 49.95%, transparent 50%);
}

#logo {
	position: absolute;
	right: 32px;
	display: flex;
	align-items: center;
	height: var(--footer-height);
}

#logo img {
	height: 80%;
	filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.3));
}
